@use '/src/styles/display/flex.scss'as *;
.shorts-base-container{
    width: 100%;
    height: 100%;
    @include flex(row,nowrap,center,center,flex-start,5px);
    .shorts-main{
        flex:1;
        height: 100%;
        overflow: hidden;
        position: relative;
        @include flex(row,nowrap,flex-start,flex-start,flex-start,null);
        @media (min-width:1000px) {
            border-radius: 5px;
        }
        .shorts-video-container{
            flex:0 0 100%;
            height: 100%;
            transition: flex-basis 0.2s ease-in-out;
            @media (min-width:650px) and (max-width:1500px) {
                &.comments--push{
                    flex-basis: calc(100% - 250px);
                }
            }
            @media (min-width:1500px) {
                &.comments--push{
                    flex-basis: calc(100% - 350px);
                }
            }
        }
        .shorts-comments-container{
            transition: transform 0.2s ease-in-out,background-color 0.2s ease-in-out;
            @media (min-width:0px) and (max-width:650px) {
                width: 100vw;
                height: 100vh;
                position: fixed;
                z-index: 5;
                bottom: 0;
                background-color: rgb(0, 0, 0,0);
                &.comments--push{
                    background-color: rgb(0, 0, 0,0.5);
                }
            }
            @media (min-width:650px) {
                position: absolute;
                width: 250px;
                height: 100%;
                top:0;
                right:0;
                transform: translateX(100%);
                &.comments--push{
                    transform: translateX(0);
                }
            }
            @media (min-width:1500px) {
                position: absolute;
                width: 350px;
                height: 100%;
                top:0;
                right:0;
                transform: translateX(100%);
                &.comments--push{
                    transform: translateX(0);
                }
            }
            .shorts-comments-wrapper{
            width: 100%;
            height: 100%;
            transition: transform 0.2s ease-in-out;
            @media (min-width:0px) and (max-width:650px) {
                position: relative;
                width: 100vw;
                height: 50vh;
                transform: translateY(200%);
                &.comments--push{
                    transform: translateY(100%);
                }
            }  
        }
        }
    }
    .shorts-aside{
        width: 48px;
        height: 100%;
        @include flex(column,nowrap,center,center,flex-start,null);
        @media (max-width:1500px) {
            display: none;
        }
        .video-change-buttons{
            width: 48px;
            height: auto;
            padding: 5px;
            border-radius: 24px;
            background-color: var(--primary-color);
            @include flex(column,nowrap,space-between,center,flex-start,5px);
            .change{
                flex:0 0 36px;
                width: 36px;
                border-radius: 50%;
                background-color: var(--background-color);
                .change-icon{
                    padding: 5px;
                    width: 100%;
                    height: 100%;
                    fill:var(--text-color);
                }
            }
        }
    }
}