@mixin scrollbar(){
    &::-webkit-scrollbar{
        width: 10px;
    }
    &::-webkit-scrollbar-thumb{
        border-right:5px solid var(--background-color);
        background-color: var(--primary-color);
    } 
    &::-webkit-scrollbar-track{
        background-color: var(--background-color);
    }
    @media (max-width:1500px) {
    &::-webkit-scrollbar{
        display: none;
    }
} 
}