@mixin scrollbar(){
    &::-webkit-scrollbar{
        width: 10px;
        height: 10px;
    }
    &::-webkit-scrollbar-thumb{
        background-color: var(--single-color);
        border-radius: 5px;
        border: 1px solid var(--background-color--deep2);
    } 
    &::-webkit-scrollbar-track{
        background-color: var(--background-color--deep2);
    }
    @media (max-width:1500px) {
    &::-webkit-scrollbar{
        display: none;
    }
} 
}