@use '/src/styles/display/flex.scss' as *;
.home-recommend{
    @include flex(row ,wrap,null,null,flex-start,5px);
    width: 100%;
    height: auto;
    padding: 5px;
    padding-top: calc(5px + 50px);
@media (max-width:999px){
        padding-top: calc(5px + 72px);
        padding-bottom: calc(5px + 48px);
}
    background-color: var(--background-color);
    .home-recommend__header{
        width: 100%;
        height: auto;
        background-color: var(--primary-color);
    }
    .home-recommend__main{
        width: 100%;
        height: auto;
    }
}