@use '/src/styles/display/flex.scss' as *;
.home-recommend{
    @include flex(row ,wrap,null,null,flex-start,5px);   
    width: 100%;
    height: auto;
    .home-recommend__header{
        width: 100%;
        height: auto;
    }
    .home-recommend__main{
        @include flex(row,wrap,null,null,flex-start,5px);
        width: 100%;
        height: auto;
    }
}