@mixin pageTop {
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  height: 48px;
  background-color: var(--single-color--opa2);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid var(--border-color);
  overflow: hidden;
  @media (max-width:1000px) {
    height: 36px;
  }
}