@mixin pageTop {
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  height: 48px;
  backdrop-filter: blur(15px);
  background-color: var(--primary-color--opa);
  border-bottom: 1px solid var(--border-color);
  @media (max-width:1000px) {
    height: 36px;
  }
}