@mixin pageTop {
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  height: 48px;
  backdrop-filter: blur(15px);
  box-shadow: 0 0 10px var(--shadow-color);
  background-color: var(--primary-color--opa);
}