html{
    font-size: 16px;
    overflow: hidden;
}
@media (min-width:650px) and (max-width:1000px) {
    html{
        font-size: 15px;
    }
}
@media (max-width:650px) {
    html{
        font-size: 14px;
    }
}
