/* 清除所有元素的默认样式 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-color);
  /* transition: background-color 0.5s ease,color 0.5s ease, border-color 0.5s ease,box-shadow 0.5s ease; */
  transition: background-color 0.5s ease;
}
/* 清除列表默认样式 */
ul {
  list-style: none;
}
li{
  list-style-type: none;
}
input{
  outline: none;
  border: none;
}
button{
  border: none;
  cursor: pointer;
}
a{
  text-decoration: none;
}
