body.light-theme{
    --primary-color:white;
    --background-color:rgb(214, 220, 228);
    --background-color--opa:rgba(214, 220, 228, 0.5);
    --shadow-color:rgb(241, 243, 245,0.5);
    --text-color:black;
    --active-color:rgb(111, 111, 111);
}
body.dark-theme{
    --primary-color:#262626;
    --background-color:black;
    --background-color--opa:rgba(0, 0, 0, 0.5);
    --shadow-color:rgb(0, 0, 0,0.5);
    --text-color:white;
    --active-color:rgb(111, 111, 111);
}