/* body.light-theme{
    --primary-color:white;
    --background-color:rgb(214, 220, 228);
    --background-color--opa:rgba(214, 220, 228, 0.75);
    --shadow-color:rgb(241, 243, 245,0.5);
    --text-color:black;
    --active-color:rgb(111, 111, 111);
}
body.dark-theme{
    --primary-color:#262626;
    --background-color:black;
    --background-color--opa:rgba(0, 0, 0, 0.5);
    --shadow-color:rgb(0, 0, 0,0.5);
    --text-color:white;
    --active-color:rgb(111, 111, 111);
} */
 body {
  &.light-theme {
    --single-color:white;
    --single-color--opa:rgb(255, 255, 255,0.7);
    --primary-color: white;
    --primary-color--opa:rgb(255, 255, 255,0.5);
    --background-color: rgb(227, 227, 227);
    --background-color--opa: rgba(227, 227, 227, 0.5);
    --background-color--deep1:rgb(208, 208, 208);
    --background-color--deep1--opa:rgb(208, 208, 208,0.5);
    --background-color--deep2:rgb(169, 169, 169);
    --background-color--deep2--opa:rgb(169, 169, 169,0.5);
    --border-color:rgb(165, 165, 165);
    --shadow-color: grey;
    --text-color: black;
    --text-color--light: rgb(82, 82, 82);
    --active-color: rgb(103, 159, 222);
    --active-color--opa: rgba(103, 159, 222, 0.5);
    --dialog-red:rgb(237, 59, 59);
    --dialog-red--opa:rgb(237, 59, 59,0.7);
    --dialog-blue:rgb(86, 171, 237);
    --dialog-blue--opa:rgb(86, 171, 237,0.7);
    --dialog-green:rgb(114, 237, 86);
    --dialog-green--opa:rgb(114, 237, 86,0.7);
  }

  &.dark-theme {
    --single-color:rgb(0, 0, 0);
    --single-color--opa:rgb(0, 0, 0,0.7);
    --primary-color: rgb(54, 54, 54);
    --primary-color--opa: rgba(54, 54, 54, 0.5);
    --background-color: rgb(15, 15, 15);
    --background-color--opa: rgba(15, 15, 15, 0.5);
    --background-color--deep1: rgb(38, 38, 38);
    --background-color--deep1--opa: rgba(38, 38, 38, 0.5);
    --background-color--deep2: rgb(65, 65, 65);
    --background-color--deep2--opa: rgb(65, 65, 65,0.5);
    --shadow-color: rgba(0, 0, 0, 0.5); 
    --border-color:rgb(84, 84, 84);
    --shadow-color: rgb(69, 69, 69);
    --text-color: rgb(255, 255, 255);
    --text-color--light: rgb(191, 191, 191);
    --active-color: rgb(103, 159, 222);
    --active-color--opa: rgb(103, 159, 222,0.5);
    --dialog-red:rgb(237, 59, 59);
    --dialog-red--opa:rgb(237, 59, 59,0.7);
    --dialog-blue:rgb(86, 171, 237);
    --dialog-blue--opa:rgb(86, 171, 237,0.7);
    --dialog-green:rgb(114, 237, 86);
    --dialog-green--opa:rgb(114, 237, 86,0.7);
  }
}






