/* body.light-theme{
    --primary-color:white;
    --background-color:rgb(214, 220, 228);
    --background-color--opa:rgba(214, 220, 228, 0.75);
    --shadow-color:rgb(241, 243, 245,0.5);
    --text-color:black;
    --active-color:rgb(111, 111, 111);
}
body.dark-theme{
    --primary-color:#262626;
    --background-color:black;
    --background-color--opa:rgba(0, 0, 0, 0.5);
    --shadow-color:rgb(0, 0, 0,0.5);
    --text-color:white;
    --active-color:rgb(111, 111, 111);
} */
 body {
  &.light-theme {
    --primary-color: white;
    --primary-color--opa:rgb(255, 255, 255,0.3);
    --background-color: rgb(227, 227, 227);
    --background-color--opa: rgba(227, 227, 227, 0.5);
    --background-color--deep1:rgb(208, 208, 208);
    --background-color--deep1--opa:rgb(208, 208, 208,0.5);
    --background-color--deep2:rgb(169, 169, 169);
    --background-color--deep2--opa:rgb(169, 169, 169,0.5);
    --border-color:rgb(88, 88, 88);
    --shadow-color: grey;
    --text-color: black;
    --text-color--light: rgb(82, 82, 82);
    --active-color: rgb(103, 159, 222);
  }

  &.dark-theme {
    --primary-color: rgb(54, 54, 54);
    --primary-color--opa: rgba(54, 54, 54, 0.3);
    --background-color: rgb(0, 0, 0);
    --background-color--opa: rgba(0, 0, 0, 0.5);
    --background-color--deep1: rgb(38, 38, 38);
    --background-color--deep1--opa: rgba(38, 38, 38, 0.5);
    --background-color--deep2: rgb(51, 51, 51);
    --background-color--deep2--opa: rgb(51, 51, 51,0.5);
    --shadow-color: rgba(0, 0, 0, 0.5); 
    --border-color:rgb(168, 168, 168);
    --shadow-color: grey;
    --text-color: rgb(255, 255, 255);
    --text-color--light: rgb(191, 191, 191);
    --active-color: rgb(103, 159, 222);
  }
}






