body.light-theme{
    --primary-color:white;
    --background-color:rgb(241, 243, 245);
    --background-color--opa:rgb(241, 243,245,0.5);
    --shadow-color:rgb(241, 243, 245,0.5);
    --text-color:black;
}
body.dark-theme{
    --primary-color:#262626;
    --background-color:black;
    --background-color--opa:rgb(0,0,0,0.5);
    --shadow-color:rgb(0, 0, 0,0.5);
    --text-color:white;
}