@use '/src/styles/display/flex.scss'as *;
.layout-container{
        @include flex(row,nowrap,null,flex-start,null,5px);
        width: 100%;
        height: auto;
        position: relative;
        .column-item{
            @include flex(row,wrap,null,null,null,5px);
            flex:1 1 300px;
            height: auto;
            .row-item{
                flex:1 1 100%;
                height: auto;
                // background-color: var(--primary-color);
            }
        }
}