@use '/src/styles/scrollbar/scrollbar.scss'as *;
@use '/src/styles/display/flex.scss'as *;
.mine-home-container{
    width: 100%;
    height: auto;
    padding: 5px;
    background-color: var(--background-color);
}