@use '/src/styles/display/flex.scss'as *;
@use '../../styles/main/pageMain.scss'as *;
@use '../../styles/top/indexTop.scss'as *;
.app-home{
    width: 100%;
    height: 100%;
    position: relative;
    .app-home__header{
        @include flex(row,nowrap,null,null,null,null);
        @include indexTop();
        .app-home__header__navs{
            position: absolute;
            left: 0;
            bottom: 0;
            width: 20%;
            height: 48px;
            @media (max-width:1000px){
                height: 36px;
                width: 100%;
             }
        }
        .app-home__header__tools{
            position: absolute;
            left: 0;
            top:0;
            left: 50%;
            width: 50%;
            transform: translateX(-50%);
            height: 48px;
            @media (max-width:1000px){
                width: 100%;
                height: 36px;
            }
            @include flex(row,nowrap,null,null,null,null);
            .app-left-show{
            position: absolute;
            left: 0;
            top:0;
            color:var(--text-color);
            height: 36px;
            aspect-ratio: 1;
            display: none;
            cursor: pointer;
            padding: 5px;
            @media (max-width:1000px){
                display: block;
            }
            .list-open{
                width: 100%;
                height: 100%;
                padding: 5px;
                border:1px solid var(--border-color);
                border-radius: 50%;
                background-color: var(--primary-color--opa);
                fill:var(--text-color);
            }
        }
        .search-tool{
            width: 100%;
            height: 100%;
            position: absolute;
            top:0;
            left: 0;
            @media (max-width:1000px) {
                left: 36px;
                width: calc(100% - 36px);
            }
        }
    }
    }
    .app-home__main{
        @include pageMain();
    }
}