.app-home-card{
    flex:1 1 300px;
    aspect-ratio: 1;
    background-color: var(--primary-color);
}
@media (min-width:650px) and (max-width:1000px){
    .app-home-card{
        flex:1 1 250px;
        aspect-ratio: 1;
    }
}
@media (max-width:649px){
    .app-home-card{
        flex:1 1 300px;
        aspect-ratio: 1;
    }
}