@use '/src/styles/display/flex.scss'as *;
@use '../../styles/main/pageMain.scss'as *;
@use '../../styles/top/indexTop.scss'as *;
.app-circles{
    width: 100%;
    height: 100%;
    position: relative;
    .app-circles__header{
        @include flex(row,nowrap,null,null,null,null);
        @include indexTop();
        .app-circles__header__navs{
            width: 20%;
            height: 100%;
            @media (max-width:1000px){
                height: 36px;
                order:2;
                width: 100%;
             }
        }
        .app-circles__header__tools{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            width: 45%;
            height: 100%;
            @media (max-width:1000px){
                position: relative;
                order:1;
                width: 100%;
                height: 36px;
            }
            @include flex(row,nowrap,null,null,null,null);
            .app-left-show{
            color:var(--text-color);
            height: 100%;
            aspect-ratio: 1;
            display: none;
            cursor: pointer;
            padding: 5px;
            @media (max-width:1000px){
                display: block;
            }
            .list-open{
                width: 100%;
                height: 100%;
                padding: 5px;
                border:1px solid var(--border-color);
                border-radius: 50%;
                background-color: var(--primary-color--opa);
                fill:var(--text-color);
            }
        }
        .searchbar{
            flex:1 1 100%;
            height: 100%;
        }
        }
    }
    .app-circles__main{
        @include pageMain();
    }
}