@use '/src/styles/display/flex.scss'as *;
@use '../../styles/main/pageMain.scss'as *;
@use '../../styles/top/pageTop.scss'as *;
.app-circles{
    width: 100%;
    height: 100%;
    position: relative;
    .app-circles__header{
        @include flex(row,nowrap,center,center,null,null);
        @include pageTop();
        @media (max-width:1000px) {
            height: 48px;
            padding: 3px;;
        }
        .search-container{
            flex:0 1 45%;
            height: 100%;
            @media (max-width:1000px) {
                flex-basis: 100%;
            }
        }
    }
    .app-circles__main{
        @include pageMain();
    }
}