@use '/src/styles/display/flex.scss'as *;
.video-item-container{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: black;
    .video-container{
        width: 100%;
        height: 100%;
        transition: height 0.2s ease-in-out;
        position: absolute;
        top:0;
        left:0;
        @media (max-width:650px) {
            &.comments--push{
                height: calc(50vh - 72px);
            }            
        }
        video{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .video-info{
        position: absolute;
        width: 300px;
        height: auto;
        left: 5px;
        bottom: 45px;
        padding: 5px;
        @media (min-width:1500px) {
            left: 10px;
            bottom: 70px;
            width: 400px;
        }
        @include flex(column,nowrap,flex-start,flex-start,center,5px);
        .user-info{
            width: 100%;
            height: 40px;
            @include flex(row,nowrap,flex-start,center,flex-start,5px);
            .user-avatar-container{
                height: 100%;
                aspect-ratio: 1;
                border-radius: 50%;
                overflow: hidden;
                .avatar{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .user-name{
                color: white;
                font-size: 1.2rem;
                font-weight: bold;
                width: fit-content;
                margin-right: 20px;
                height: auto;
            }
            .follow{
                height: 30px;
                width: 60px;
                border-radius: 15px;
                color: white;
                background-color: var(--active-color);
            }
        }
        .content-info{
            width: 100%;
            flex:0 0 auto;
            @include flex(column,nowrap,flex-start,center,center,5px);
            .title{
                width: 100%;
                font-size: 1.1rem;
                font-weight: 500;
                height: auto;
                color: white;
            }
            .description{
                width: 100%;
                height: auto;
            }
    }
    .circle-tag-container{
        width: fit-content;
        height: 24px;
        background-color: var(--background-color);
        border-radius: 2px;
        padding: 2px;
        @include flex(row ,nowrap,flex-start,center,flex-start,null);
        .circle-avatar{
            height: 100%;
            aspect-ratio: 1;
            border-radius: 2px;
            object-fit: cover;
        }
    }
    .publishTime{
        width: 100%;
        height: auto;
        font-size: 0.9rem;
        color: rgb(255, 255, 255,0.5);
    }
}
    .video-item-tools{
        position: absolute;
        width: 52px;
        padding: 5px;
        height: auto;
        right: 5px;
        bottom: 45px;
        @include flex(column,nowrap,space-between,center,center,10px);
        @media (min-width:1500px) {
            width: 60px;
            gap:15px;
            right: 10px;
            bottom: 70px;
        }
        .video-item-tool{
            width: 100%;
            aspect-ratio: 1;
            border-radius: 50%;
            background-color: rgba(255, 255, 255, 0.3);
            backdrop-filter: blur(10px);
            overflow: hidden;
            .video-item-icon{
                padding: 10px;
                width: 100%;
                height: 100%;
                fill:white;
                &.up-full{
                    fill:red;
                }
                &.star-full{
                    fill:yellow;
                }
            }
        }
    }
}