@use '/src/styles/main/pageMain.scss'as *;
@use '/src/styles/top/pageTop.scss'as *;
@use '/src/styles/display/flex.scss'as *;
@use '/src/styles/padding/topPadding.scss'as *;
@use '/src/styles/padding/topPadding2.scss'as *;
@use '/src/styles/scrollbar/scrollbar.scss'as*;
@use '/src/styles/lineheight/lineheight.scss'as *;
.post-mask{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top:0;
    left: 0;
    z-index: 100;
    background-color: rgb(0, 0, 0,0.5);
    animation: mask-enter1 0.3s ease-in-out;
    &.leave{
        animation-name: mask-leave1;
        animation-fill-mode: forwards;
    }
    .post-container{
        width: 1000px;
        height: 90vh;
        margin: 5vh auto;
        position: relative;
        background-color: var(--background-color);
        animation: container-enter1 0.3s ease-in-out;
        border-radius: 24px;
        overflow-y: auto;
        @include scrollbar();          
        @media (min-width:650px) and (max-width:1000px) {
            border-radius: 0;
            width: 100%;
            height: 100%;
            margin: 0;
        }
        @media (max-width:650px){
            border-radius: 0;
            width: 100%;
            height: 100%;
            margin: 0;
            animation: container-enter2 0.3s ease-in-out;
        }
        &.leave{
            animation-name: container-leave1;
            animation-fill-mode: forwards;                
            @media (max-width:650px) {
            animation-name: container-leave2;
            animation-fill-mode: forwards;
        }
        }
        @include flex(row,wrap,flex-start,flex-start,flex-start,null);
        .header{
            @include pageTop();
            @media (max-width:1000px) {
                height: 48px;
            }
            @include flex(row,nowrap,flex-start,center,flex-start,null);
            @media (max-width:650px) {
                position: fixed;
            }
            .back-container{
                height: 100%;
                padding: 10px;
                aspect-ratio: 1;
                cursor: pointer;
            .back{
                width: 100%;
                height: 100%;
                fill: var(--text-color);
            }
        }
            .author-info{
                width: fit-content;
                height: 100%;
                position: relative;
                @include flex(row,nowrap,null,center,flex-start,null);
                .img-container{
                    height: 100%;
                    aspect-ratio: 1;
                .avatar{
                    height: 100%;
                    padding: 5px;
                    aspect-ratio: 1;
                    border-radius: 50%;
                    object-fit: cover;
                }
                }
                .name-container{
                    height: 100%;
                    width: fit-content;
                    @include flex(column,nowrap,center,flex-start,null,null);
                .name{
                    width: fit-content;
                    font-size: 1.1rem;
                }
                .publish-time{
                    width: fit-content;
                    font-size: 0.9rem;
                    color: var(--text-color--light);
                }
            }
            }
            .follow-container{
                height: 80%;
                width: 86px;
                margin-left: auto;
                @media (max-width:1000px) {
                    width: 70px;
                }
                .follow{
                    cursor: pointer;
                    width: 100%;
                    height: 100%;
                    border-radius: 19px;
                    background-color: var(--active-color);
                    color: white;
                }
            }
            .three{
                height: 50%;
                aspect-ratio: 1;
                margin: 0 5px;
                .three-svg{
                    width: 100%;
                    height: 100%;
                    fill:var(--text-color);
                }
            }
        }
        .content-container{
            flex:1 1 50%;
            height: 100%;
            background-color: var(--primary-color);
            border-right: 1px solid var(--border-color);
            overflow-y: auto;                
            @media (max-width:650px) {
                flex-basis: 100%;
                height: auto;
                border-right:none;
                border-bottom: 1px solid var(--border-color);
            }
            @include flex(column,nowrap,flex-start,center,flex-start,5px);
            @include topPadding2();
            @include scrollbar();
            .article{
                flex:0 0 auto;
                width: 100%;
                @include lineHeight();
            }
            .img-container{
                flex:0 0 auto;
                width: 100%;
                border-radius: 5px;
                overflow: hidden;
            }
        }
        .comments-container{
            flex:1 1 50%;
            height: 100%;
            overflow-y: auto;                
            @include scrollbar();
            background-color: var(--primary-color);
            padding-top: 48px;
            @media (max-width:650px) {
                flex-basis: 100%;
                // max-width: 100%;
                border-left:none;
                height:auto;
                overflow-y: visible;
                padding-top: 0;
            }
            @include flex(column,nowrap,flex-start,center,null,null);
            .comments-top{
                width: 100%;
                flex: 0 0 36px;
                backdrop-filter: blur(15px);
                border-bottom: 1px solid var(--border-color);
                background-color: var(--primary-color--opa);
                position: sticky;
                top:0;
                @media (max-width:650px) {
                    top:48px;
                }
                @include flex(row,nowrap,flex-start,center,flex-start,null);
                .title{
                   width: fit-content;
                   height: 100%;
                   margin: 0 5px;
                   @include flex(column,nowrap,center,null,null,null);
                }
            }
            .comment-container{
                width: 100%;
                flex:0 0 auto;
                padding: 10px;
                @include flex(column,nowrap,flex-start,center,flex-start,null);
                border-bottom: 1px solid var(--border-color--opa);
                .comment-header{
                    width: 100%;
                    flex:0 0 36px;
                    @include flex(row,nowrap,flex-start,center,null,5px);
                    .avatar-container{
                        height: 100%;
                        aspect-ratio: 1;
                        .avatar{
                            height: 36px;
                            aspect-ratio: 1;
                            border-radius: 50%;
                            object-fit: cover;
                        }
                    }
                    .info-container{
                        flex:1;
                        height: 100%;
                        @include flex(column,nowrap,center,flex-start,flex-start,null);
                        .name-container{
                            width: fit-content;
                            @include flex(row,nowrap,flex-start,center,flex-start,5px);
                            .name{
                                flex:1 1 fit-content;
                                font-weight: bold;
                            }
                            .level{
                                flex:1 1 fit-content;
                                font-size: 0.8rem;
                                color: white;
                                background-color:var(--active-color);
                            }
                            .author{
                                flex:1 1 fit-content;
                                font-size: 0.8rem;
                                color: white;
                                background-color:var(--active-color);
                            }
                        }
                        .time{
                            width: fit-content;
                            @include flex(row,nowrap,flex-start,center,flex-start,null);
                            .publish-time{
                                flex:1 1 fit-content;
                                font-size: 0.8rem;
                                color: var(--text-color--light);
                            }
                        }
                    }
                }
                .comment{
                    width: 100%;
                    flex:0 0 auto;
                    @include lineHeight();
                    padding-left: 41px;
                    font-size: 1.05rem;
                }
                .tools{
                    width: 100%;
                    flex:0 0 30px;
                    padding-left: 41px;
                    @include flex(row,nowrap,flex-start,center,flex-start,10px);
                    .tool{
                        @include flex(row,nowrap,flex-start,center,null,5px);
                        flex:0 0 fit-content;
                        height: 100%;
                        cursor: pointer;
                        .svg-icon{
                            height: 20px;
                            aspect-ratio: 1;
                            fill:var(--text-color);
                        }
                        .count{
                            width: fit-content;
                        }
                    }
                    .more-container{
                        height: 100%;
                        aspect-ratio: 1;
                        margin-left: auto;
                        padding: 5px;
                        .more-svg{
                            height: 100%;
                            aspect-ratio: 1;
                            fill:var(--text-color);
                        }
                    }
                }
                .reply{
                    width: calc(100% - 36px);
                    margin-left: 41px;
                    background-color: var(--background-color--opa);
                    padding: 5px;
                    @include flex(column,nowrap,flex-start,null,null,null);
                    .pre-reply-container{
                        width: 100%;
                        flex:0 0 auto;
                        .pre-reply{
                            @include lineHeight();
                            .user-name{
                                color: var(--active-color);
                            }
                        }
                    }
                    .reply-count{
                        width: fit-content;
                        cursor: pointer;
                        margin-top: 5px;
                        color: var(--active-color);
                    }
                }
            }
        }
    }
}

@keyframes mask-leave1 {
    to{
        background-color: transparent;
    }
}
@keyframes container-leave1 {
    to{
        transform: scale(0);
        opacity: 0;
    }
}   
@keyframes container-leave2 {
    to{
        transform: translateX(100%);
    }
}   
@keyframes mask-enter1 {
    0%{
        background-color: transparent;
    }
    100%{
        background-color: rgb(0, 0, 0,0.5);
    }
}
@keyframes container-enter1 {
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes container-enter2 {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0);
    }
}    