@use '/src/styles/main/pageMain.scss'as *;
@use '/src/styles/top/pageTop.scss'as *;
@use '/src/styles/display/flex.scss'as *;
@use '/src/styles/padding/topPadding.scss'as *;
@use '/src/styles/padding/topPadding2.scss'as *;
@use '/src/styles/scrollbar/scrollbar.scss'as*;
@use '/src/styles/lineheight/lineheight.scss'as *;
@use '/src/styles/top/sortTop.scss'as *;
.post-mask{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top:0;
    left: 0;
    z-index: 100;
    transition: all .3s ease-in-out;
    background-color: transparent;
    backdrop-filter: blur(0);
    &.final{
    background-color: rgb(0, 0, 0,0.5);
    backdrop-filter: blur(2px);
    }
    .post-css-container{
        transition: all .3s ease-in-out;
        overflow: hidden;
        width: 1000px;
        height: 90vh;
        border-radius: 24px;
        @media (max-width:1000px) {
            border-radius: 0;
            width: 100%;
            height: 100%;
        }
        transform: translateX(calc(50vw - 50%)) translateY(100vh);
        &.final{
        transform: translateX(calc(50vw - 50%)) translateY(calc(50vh - 50%));
        }
    .post-container{
        position: relative;
        overflow-y: auto;
        @include scrollbar();          
        width: 1000px;
        height: 90vh;
        @media (max-width:1000px) {
            width: 100vw;
            height: 100vh;
        }
        @include flex(row,wrap,flex-start,flex-start,flex-start,null);
        .header{
            @include pageTop();
            @media (max-width:1000px) {
                height: 48px;
            }
            @include flex(row,nowrap,flex-start,center,flex-start,null);
            @media (max-width:650px) {
                position: fixed;
            }
            .back-container{
                height: 100%;
                padding: 10px;
                aspect-ratio: 1;
                cursor: pointer;
            .back{
                width: 100%;
                height: 100%;
                fill: var(--text-color);
            }
        }
            .author-info{
                width: fit-content;
                height: 100%;
                position: relative;
                @include flex(row,nowrap,null,center,flex-start,null);
                .img-container{
                    height: 100%;
                    aspect-ratio: 1;
                .avatar{
                    height: 100%;
                    padding: 5px;
                    aspect-ratio: 1;
                    border-radius: 50%;
                    object-fit: cover;
                }
                }
                .name-container{
                    height: 100%;
                    width: fit-content;
                    @include flex(column,nowrap,center,flex-start,null,null);
                .name{
                    width: fit-content;
                    font-size: 1.1rem;
                }
                .publish-time{
                    width: fit-content;
                    font-size: 0.9rem;
                    color: var(--text-color--light);
                }
            }
            }
            .follow-container{
                height: 80%;
                width: 86px;
                margin-left: auto;
                @media (max-width:1000px) {
                    width: 70px;
                }
                .follow{
                    cursor: pointer;
                    width: 100%;
                    height: 100%;
                    border-radius: 19px;
                    background-color: var(--active-color);
                    color: white;
                }
            }
            .three{
                height: 50%;
                aspect-ratio: 1;
                margin: 0 5px;
                .three-svg{
                    width: 100%;
                    height: 100%;
                    fill:var(--text-color);
                }
            }
        }
        .content-container{
            flex:1 1 50%;
            height: 100%;
            background-color: var(--primary-color);
            border-right: 1px solid var(--border-color);
            overflow-y: auto;                
            @media (max-width:650px) {
                flex-basis: 100%;
                height: auto;
                border-right:none;
                border-bottom: 1px solid var(--border-color--opa);
            }
            @include flex(column,nowrap,flex-start,center,flex-start,5px);
            @include topPadding2();
            @include scrollbar();
            .article{
                flex:0 0 auto;
                width: 100%;
                @include lineHeight();
            }
            .img-container{
                flex:0 0 auto;
                width: 100%;
                border-radius: 5px;
                overflow: hidden;
            }
        }
        .comments-container{
            flex:1 1 50%;
            height: 100%;
            overflow-y: auto;
            padding-top: 48px;
            background-color: var(--primary-color);
            @include scrollbar();
            .sort-sticky-top{
                @media (max-width:650px) {
                    top:48px;
                }
            }
            @media (max-width:650px) {
                flex-basis: 100%;
                // max-width: 100%;
                overflow-y: visible;
                height:auto;
                padding-top: 0px;
            }
        }
    }
}
}