@use '/src/styles/display/flex.scss'as *;
.searchbar-container{  
    width: 100%;
    height: 100%;
    padding: 5px;
    @include flex(row,nowrap,null,center,null,10px);
    .search-input{
        flex:1;
        height: 100%;
        color: var(--text-color);
        font-size: 1rem;
        padding: 0 0.7rem;
        border-radius: 20px;
        border:1px solid var(--border-color);
        background-color: var(--primary-color--opa);
    }
    .search-button{
        aspect-ratio: 1;
        height: 100%;
        padding: 10px;
        border:1px solid var(--border-color);
        background-color: var(--primary-color--opa);
        border-radius: 50%;
        @media (max-width:1000px) {
            padding: 5px;
        }
        .search{
            width: 100%;
            height: 100%;
            fill: var(--text-color);
        }
    }
}