@use'/src/styles/display/flex.scss'as *;
.loading-container{
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  @include flex(row,nowrap,center,center,null,null);
.three-balls-bounce{ 
position: relative;
flex:0 1 150px;
height: 60px;
.circle {
  width: 20px;
  height: 20px;
  position: absolute;
  z-index: 1;
  border-radius: 50%;
  background-color: var(--active-color);
  left: 15%;
  transform-origin: 50%;
  animation: balls-circle 0.5s alternate-reverse infinite ease;
  &:nth-child(2){
    left: calc(50% - 10px);
  animation-delay: 0.2s;
  }
  &:nth-child(3){
  left:auto;
  right: 15%;
  animation-delay: 0.3s;
  }
}
  .shadow {
  width: 20px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--primary-color--opa);
  position: absolute;
  top: calc(100% - 4px);
  transform-origin: 50%;
  z-index: 0;
  left: 15%;
  filter: blur(1px);
  animation: balls-shadow 0.5s alternate-reverse infinite ease;
  &:nth-child(4){
      left: calc(50% - 10px);
  animation-delay: 0.2s;
  }
  &:nth-child(5){
      left: auto;
  right: 15%;
  animation-delay: 0.3s;
  }
}
  }
}
/* three-ball-bounce loading START */

@keyframes balls-circle {
  0% {
    top:calc(100% - 15px);
    height: 15px;
    border-radius: 50%;
    transform: scaleX(1.1);
  }
  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }
  100% {
    top: 0%;
  }
}
@keyframes balls-shadow {
  0% {
    transform: scaleX(1.1);
  }
  40% {
    transform: scaleX(1);
    opacity: 0.7;
  }
  100% {
    transform: scaleX(0.2);
    opacity: 0.4;
  }
}
