@use '/src/styles/display/flex.scss'as *;
.post-card{
    color: var(--text-color);
    padding: 5px;
    height: auto;
    background-color: var(--primary-color);
    .post-header{
        width: fit-content;
        height: 40px;
        margin-bottom: 5px;
        @include flex(row ,nowrap,null,null,null,5px);
        .user-avator{
            flex: 0 0 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: contain;
        }
        .user-info{
            flex:0 0 fit-content;
            height: 40px;
        .user-name{
            width: fit-content;
            height: 20px;
            line-height: 20px;
        }
        .publish-time{
            width: fit-content;
            color: var(--text-color--light);
            font-size: 0.8rem;
            height: 20px;
            line-height: 20px;
        }
        }
    }
    .post-title{
        width: fit-content;
        margin-bottom: 5px;
        font-size: 1.2rem;
        font-weight: bold;
    }
    .post-content{
        width: 100%;
        margin-bottom: 5px;
        height: auto;
        .tag{
            color: var(--active-color);
            cursor: pointer;
        }
    }
   .post-img {
        width: 100%;
        height: auto;
        margin-bottom: 5px;
        @include flex(row, wrap, null, null, null, 3px);
        .img {
            flex: 1 1 30%;
            aspect-ratio: 1;
            object-fit: contain;
            &.first {
                flex: 1 1 100%;
            }
        }
        &.first {
            width: 50%;
        }
    }
    .post-circle{
        width: fit-content;
        height: 25px;
        margin-bottom: 5px;
        padding: 2.5px;
        cursor: pointer;
        background-color: var(--background-color--opa);
        @include flex(row,nowrap,null,null,null,1.5px);
        .circle-avator{
            flex:0 0 20px;
            height: 20px;
        }
        .circle-name{
            flex:0 0 fit-content;
            height: 20px;
            line-height: 20px;
        }
    }
    .popular-comment{
        width: 100%;
        height: auto;
        margin-bottom: 5px;
        background-color: var(--background-color--opa);
        .like{
            width: fit-content;
            height: 20px;
            line-height: 20px;
            color: white;
            background-color: var(--active-color);
        }
        .comment-container{
            width: 100%;
            height: auto;
            padding: 3px;
            line-height: 25px;
            .name{
                color: var(--active-color);
            }
        }
    }
    .post-interactive-data{
        width: 100%;
        height: 20px;
        background-color: darkcyan;
        @include flex(row,nowrap,null,null,null,null);
        .interactive-data{
            flex:1 1 calc(100%/3);
            height: 20px;
            text-align: center;
            line-height: 20px;
            background-color: aquamarine;
        }
        // .like{
        //     flex:1 1 calc(100%/3);
        //     height: 15px;
        //     text-align: center;
        //     line-height: 15px;
        // }
        // .reply{
        //     flex:1 1 calc(100%/3);
        //     height: 15px;
        //     text-align: center;
        //     line-height: 15px;
        // }
        // .retweet{
        //     flex:1 1 calc(100%/3);
        //     height: 15px;
        //     text-align: center;
        //     line-height: 15px;
        // }
    } 
}