@use '/src/styles/display/flex.scss'as *;
.post-card{
    color: var(--text-color);
    padding: 5px;
    border-radius: 5px;
    height: auto;
    // cursor: pointer;
    background-color: var(--primary-color);
    .post-header{
        width: fit-content;
        height: 40px;
        margin-bottom: 5px;
        @include flex(row ,nowrap,null,null,null,5px);
        .user-avator{
            flex: 0 0 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: contain;
            cursor: pointer;
        }
        .user-info{
            flex:0 0 fit-content;
            height: 40px;
        .user-name{
            width: fit-content;
            height: 20px;
            line-height: 20px;
        }
        .publish-time{
            width: fit-content;
            color: var(--text-color--light);
            font-size: 0.8rem;
            height: 20px;
            line-height: 20px;
        }
        }
    }
    .post-title{
        width: fit-content;
        margin-bottom: 5px;
        font-size: 1.2rem;
        font-weight: bold;
    }
    .post-content{
        width: 100%;
        margin-bottom: 5px;
        height: auto;
        cursor: pointer;
        .tag{
            color: var(--active-color);
            cursor: pointer;
        }
    }
   .post-img {
        width: 100%;
        height: auto;
        border-radius: 5px;
        overflow: hidden;
        margin-bottom: 5px;
        @include flex(row, wrap, null, null, null, 3px);
        .img-container {
            width: 30%;
            padding-bottom: calc(100%/3 - 2px);
            flex-grow: 1;
            flex-shrink: 0;
            cursor: pointer;
            position: relative;
            .img{
                position: absolute;
                top:0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }           
        }
        &.first{
            width: 50%;
            .img-container{
                width: 100%;
                padding-bottom: 100%;
        }
        }
        &.second{
            .img-container{
                width:40%;
                padding-bottom: calc(50% - 1.5px);
            }
        }
    }
    .post-circle{
        width: fit-content;
        height: 25px;
        margin-bottom: 5px;
        padding: 2.5px;
        cursor: pointer;
        border-radius: 5px;
        background-color: var(--background-color);
        @include flex(row,nowrap,null,null,null,1.5px);
        .circle-avator{
            flex:0 0 20px;
            height: 20px;
            border-radius: 2.5px;
        }
        .circle-name{
            flex:0 0 fit-content;
            height: 20px;
            color: var(--text-color--light);
            line-height: 20px;
        }
    }
    .popular-comment{
        width: 100%;
        height: auto;
        margin-bottom: 5px;
        border-radius: 5px;
        overflow: hidden;
        background-color: var(--background-color--opa);
        .like{
            width: fit-content;
            height: 20px;
            font-size: 0.9rem;
            line-height: 20px;
            color: white;
            border-radius: 0 0 5px 0;
            background-color: var(--active-color);
        }
        .comment-container{
            width: 100%;
            height: auto;
            cursor: pointer;
            padding: 10px;
            .name{
                color: var(--active-color);
                cursor: pointer;
            }
        }
    }
    .post-interactive-data{
        width: 100%;
        height: 25px;
        @include flex(row,nowrap,null,null,null,null);
        .interactive-data{
            cursor: pointer;
            flex:1 1 calc(100%/3);
            color: var(--text-color--light);
            border-radius: 5px;
            height: 25px;
            text-align: center;
            line-height: 25px;
            cursor: pointer;
            &:hover{
                background-color: var(--background-color--opa);
            }
        }
    } 
}