@use '/src/styles/display/flex.scss'as *;
@use '../../styles/top/pageTop.scss'as *;
@use '/src/styles/scrollbar/scrollbar.scss'as *;
@use '/src/styles/main/pageMain.scss'as *;
.app-mine{
    width: 100%;
    height: 100%;
    position: relative;
    .app-mine__top{
       @include pageTop();
       @include flex(row,nowrap,center,center,null,null);
       .info{
        width: fit-content;
        height: 44px;
        padding: 2px;
        border-radius: 22px;
        @include flex(row,nowrap,center,center,null,null);
        .avatar{
            width: 40px;
            height: 40px;
            object-fit: cover;
            border-radius: 50%;
        }
        .name{
            width: 60px;
            height: 40px;
            font-size: 1.2rem;
            text-align: center;
            line-height: 40px;
            border-radius: 20px;
            color:var(--text-color);
        }
       }
    }
    .app-mine__main{
        padding: 5px;
        background-color: var(--background-color);
        position: relative;
        @include pageMain();
        @include scrollbar();
        @include flex(row,wrap,null,null,flex-start,5px);
        .app-mine__header{
        @include flex(row,wrap,flex-start,flex-start,flex-start,5px);
        padding-top: 43px;
        width: 100%;
        height: 200px;
        background-color: var(--primary-color);
        position: relative;
        border-radius: 5px;
        @media (max-width:1300px) {
            height: 140px;
        }
        @media (max-width:650px) {
                height: 170px;
        }
        .avatar{
            position: absolute;
            top:25px;
            left: 25px;
            height: 150px;
            aspect-ratio: 1;
            border-radius: 50%;
            object-fit: cover;
            @media (max-width:1300px) {
            top:20px;
            left: 20px;
            height: 100px;
        }
        }
        .tools{
            position: absolute;
            flex:0 0 fit-content;
            top:43px;
            right: 0;
            padding: 0 10px;
            @include flex(row,nowrap,flex-start,flex-start,flex-start,10px);
            .tool{
                color: var(--text-color);
                background-color: transparent;
                cursor: pointer;
                width: fit-content;
                font-size: 2rem;
                @media (max-width:1300px) {
                    font-size: 1.8rem;
                }
            }
        }
        .info{
            width: 60%;
            height: 132px;
            position: absolute;
            top:43px;
            left: 200px;
             @media (max-width:1300px) {
                    left: 140px;
                    height: 100px;
                }
            .name{
                color: var(--text-color);
                padding: 5px;
                font-size: 1.6rem;
                @media (max-width:1300px) {
                    font-size: 1.3rem;
                    padding: 3px;
                }
                width: fit-content;
                position: relative;
                .level{
                    position: absolute;
                    font-size: 1rem;
                    @media (max-width:1300px) {
                    font-size: 0.9rem;
                   }
                    top:50%;
                    right: 0;
                    background-color: var(--active-color);
                    color: white;
                    transform: translateX(100%) translateY(-50%);
                }
            }
            .bio{
                color: var(--text-color);
                width: fit-content;
                font-size: 1rem;
                padding: 5px;
                @media (max-width:1300px) {
                    font-size: 0.85rem;
                    padding: 3px;
                }
            }
            .experience-value{
                width: 100%;
                padding: 2px;
                margin-top: 3px;
                margin-bottom: 3px;
                padding-left: 0;
                margin-left: 5px;
                height: 10px;
                overflow: hidden;
                background-color: var(--background-color);
                @media (max-width:1300px) {
                    margin:1px 0 1px 3px;
                }
                .bar{
                    width: 100%;
                    height: 100%;
                    transform: translateX(-20%);
                    background-color: var(--active-color);
                }
            }
            .progress{
                font-size: 1rem;
                padding: 5px;
                 @media (max-width:1300px) {
                    font-size: 0.9rem;
                    padding: 3px;
                }
                width: fit-content;

                color: var(--text-color);
            }
        }
            .list3{
            width: 23%;
            height: 50px;
            position: absolute;
            bottom: 0;
            right: 0;
            @media (max-width:1300px) {
                height: 30px;
            }
            @media (max-width:650px) {
                width: 100%;
                height: 30px;
            }
            @include flex(row,nowrap,center,center,center,null);
            .item{
                color: var(--text-color);
                cursor: pointer;
                flex:1 1 calc(100%/3);
                text-align: center;
                line-height: 50px;
                height: 100%;
                border-right: 2px solid;
                border-image: linear-gradient(to bottom, var(--primary-color) 5%, var(--background-color) 5%, var(--background-color) 95%, var(--primary-color) 95%) 1;
                &:last-child{
                    border: none;
                }
                @media (max-width:1300px) {
                    line-height: 30px;
                }
            }
        }
    }
    }
}