@use '/src/styles/display/flex.scss'as *;
.route-nav{
    width: 100%;
    height: auto;
    @include flex(row,wrap,null,null,null,5px);
    .route-nav__link{
        font-size: 16px;
        padding: 5px;
        white-space: nowrap;
    }
    .route-nav__link:active{
        font-size: 16px;
        padding: 5px;
        white-space: nowrap;
    }
}