.banner-video-container{
    width: 100%;
    height: 450px;
    position: relative;
    z-index: 0;
&::after{
   content: "";
   position: absolute;
   top:0;
   left:0;
   width: 100%;
   height: 100%;
   backdrop-filter: blur(20px);
   z-index: -1;
}
.banner-video--outer{
  width: 100%;
  height: 100%;
}
.banner-video--inner{
position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
}
@media (max-aspect-ratio: 1/1) {
  /* 针对宽高比小于1:1的设备样式 */
  .banner-video-container{
    height: auto;
  }
}