@use './styles/display/flex.scss' as *;

.app{
  @include flex(row,nowrap);
  position: relative;
  width: 100%;
  height: auto;
  .app__header{
  width: 100%;
  padding-left: 200px;
  height: auto;
  @include flex(row,nowrap);
    position: fixed;
    z-index: 1;
    // animation: headerIsEnter ease-in-out 0.5s forwards;
    color:var(--text-color);
    background-color: var(--background-color2--opa);
    border-bottom: 1px solid var(--border-black);
    backdrop-filter: blur(20px);
    top:0;
    justify-content:center;
    align-items: center;
  }
  @keyframes headerIsEnter{
    0%{
        transform:translateY(-100%);
    }
    100%{
        transform: translateY(0);
    }
  }
  .app__left{
    position: fixed;
    z-index: 1;
    left:0;
    width: 200px;
    height: 100vh;
    // animation: leftIsEnter ease-in-out 0.5s forwards;
    background-color:var(--background-color2);
    transition: all ease-in-out 0.5s;
    .app__aside{
      width: 50%;
      height: 50%;
      background-color: var(--primary-color);
    }
  }
    @keyframes leftIsEnter{
    0%{
        transform:translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
  }
  .app__right{
    flex:1;
    padding-left: 200px;
  }
}
@media (min-width:650px) and (max-width:1000px){
  .app .app__header{
    padding-left: 0px;
  }
  .app .app__left{
    transform:translateX(-100%);
  }
  .app .app__right{
    padding-left: 0px;
  }
}
@media (max-width:649px){
  .app .app__header{
    padding-left: 0px;
  }
  .app .app__left{
    transform:translateX(-100%);
  }
  .app .app__right{
    padding-left: 0px;
  }
}