.banner{
  width: 100%;
  height: auto;
}
.banner.fixed{
  transform: translateY(60px);
}
.banner__image{
  width: 100%;
  height: auto;
}
.banner__content-container{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(to bottom,rgb(171, 244, 207) 0%,rgb(203, 244, 203) 50%,rgb(229, 245, 230) 100%);
}
.banner__content__title{
  flex:0 0 100%;
  font-size:2rem;
  color: rgb(0, 0, 0);
}
.banner__content__text{
  flex:0 0 100%;
  font-size: 1rem;
  margin: 20px 0;
  color:black;
}
@media (max-aspect-ratio: 1/1) {
  /* 针对宽高比小于1:1的设备样式 */
  .banner__video-container{
    height: auto;
  }
}